<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>predict_image</title>
</head>
{% extends 'base.html' %}
{% block content %}
<body>
    <div>
        <img  style="text-align: center;" src="{{ test_image }}"/>
        <P style="font-family: 'Times New Roman', Times, serif; text-align: center;">ResNet predict:{{R_pred}} </P>
        <p style="font-family: 'Times New Roman', Times, serif;text-align: center;">MobileNet predict:{{M_pred}}</p>
        <p style="font-family: 'Times New Roman', Times, serif; text-align: center;">DenseNet predict:{{D_pred}}</p>
    </div>
</body>
</html>
{% endblock %}