
{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}

{% block content %}
<link href="{% static "css/login.css"%}" rel="stylesheet" type="text/css" />
    <form autocomplete='off' class='form' method="POST">
        {% csrf_token %}
        <div class='control'>
            <h1>
                註冊
            </h1>
          </div>
        
        <div class='control block-cube block-input'>
            {{ form.username }}
          <div class='bg-top'>
            <div class='bg-inner'></div>
          </div>
          <div class='bg-right'>
            <div class='bg-inner'></div>
          </div>
          <div class='bg'>
            <div class='bg-inner'></div>
          </div>
        </div>
        
        <div class='control block-cube block-input'>
            {{ form.email }}
          <div class='bg-top'>
            <div class='bg-inner'></div>
          </div>
          <div class='bg-right'>
            <div class='bg-inner'></div>
          </div>
          <div class='bg'>
            <div class='bg-inner'></div>
          </div>
        </div>
  
        <div class='control block-cube block-input'>
            {{ form.password1 }}
          <div class='bg-top'>
            <div class='bg-inner'></div>
          </div>
          <div class='bg-right'>
            <div class='bg-inner'></div>
          </div>
          <div class='bg'>
            <div class='bg-inner'></div>
          </div>
        </div>
        
        <div class='control block-cube block-input'>
            {{ form.password2 }}
          <div class='bg-top'>
            <div class='bg-inner'></div>
          </div>
          <div class='bg-right'>
            <div class='bg-inner'></div>
          </div>
          <div class='bg'>
            <div class='bg-inner'></div>
          </div>
        </div>
        <button class='btn block-cube block-cube-hover' type='submit'>
          <div class='bg-top'>
            <div class='bg-inner'></div>
          </div>
          <div class='bg-right'>
            <div class='bg-inner'></div>
          </div>
          <div class='bg'>
            <div class='bg-inner'></div>
          </div>
          <div class='text'>
            <a>註冊</a>
          </div>
        </button>
        <br>
        <div class="alert alert-success">
          {% if form.errors %}
          <div class="ui error message">
            {{ form.errors}}
          </div>
          {% endif %}
          <div>  
    </form>
{% endblock  %}
