<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload_image</title>
</head>
{% extends 'base.html' %}
{% block content %}
<body>
    <div style="text-align:center:#FFAC55;width:300px;height:20px;margin:0 auto;">
    <form style="color:white" method = "post" enctype="multipart/form-data">
        
        {% csrf_token %}
        <img id="blah" src="#" alt="your image" width="200" 
        height="200"/>
        {{ form.as_p }}
        
        <br>
        <button onclick="submit_alert" type="submit">Upload and predict</button>
        <br><br>
        
    </form>
    </div>
</body>
</html>
<script>
    id_image.onchange = evt => {
  const [file] = id_image.files
  if (file) {
    blah.src = URL.createObjectURL(file)
  }
}

function submit_alert() {
  alert("Please Wait!");
}
</script>
{% endblock %}